$light-background-color: #fff;
$dark-background-color: rgb(24, 23, 23);
$button-background-color: #e56c9f;
$button-hover-background-color: #e180a9;
$button-text-color: #fff;

@function set-text-color($backgroundColor) {
  @if (lightness($backgroundColor) > 70) {
    @return #333;
  } @else {
    @return rgb(235, 233, 233);
  }
}

@mixin set-background-color($color) {
  background-color: $color;
  color: set-text-color($color);
}
